---
title: ""
date: 2022-07-28T17:15:02+02:00
draft: false
---

<section class="get-in-touch">
    <h1 class="title">Get in touch</h1>
    <form action="#" method="post" class="contact-form row">
        <div class="form-field col x-50">
            <input name="Name" id="name" class="input-text js-input" type="text" placeholder="" required>
            <label class="label" for="name">Name</label>
        </div>
        <div class="form-field col x-50">
            <input name="Email" id="email" class="input-text js-input" type="email" placeholder="" required>
            <label class="label" for="email">E-mail</label>
        </div>
        <div class="form-field col x-100">
            <input name="Message" id="message" class="input-text js-input" type="text" placeholder="" required>
            <label class="label" for="message">Message</label>
        </div>
        <div class="form-field col x-100 align-center">
            <div id="captcha"></div>
            <input class="submit-btn" type="submit" value="Submit">
        </div>
    </form>
</section>
<script src="https://www.google.com/recaptcha/api.js?render=6LdzPTohAAAAAL6IhbWJeL6Qi3wHFpR7UiM8saAI"></script>
<script>
    grecaptcha.ready(() => {
        const theme = document.getElementsByTagName('html');
        grecaptcha.render('captcha', {
            'sitekey' : '6LdhXEIhAAAAAOCjQatZBhc5SpwH7ww7Q_7aqJzV',
            'theme' : theme[0].dataset.theme
        });
    });
</script>
<script !src="">""
    const form = document.querySelector('.contact-form');
    const button = document.querySelector('.submit-btn');

    form.addEventListener('submit', (e) => {
        //disable the button
        button.setAttribute('disabled', 'disabled');
        button.value = 'Sending...';
        e.preventDefault();
        const values = new FormData(e.target)
        const payload = Object.fromEntries(values.entries());

        fetch('https://api.nvds.be/api/v1/db/data/v1/Contact_From/Contact_Table', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
                'xc-token': '6eZQtIgL05fk1GDUklmd6CNDRndEm3cajw89YYhf'
            },
            body: JSON.stringify(payload)
        })
            .then(res => res.json())
            .then(data => {
                //set button text to message sent and color to green
                button.value = 'Message sent';
                // set button cursor to block
                button.style.cursor = 'not-allowed';
            })
    })
</script>
