<!-- Privacy-friendly analytics by Plausible -->
<script
  async
  src="https://plausible.nvds.be/js/pa-rnNGRhTgwnjaedeqTAGEU.js"
></script>
<script>
  ((window.plausible =
    window.plausible ||
    function () {
      (plausible.q = plausible.q || []).push(arguments);
    }),
    (plausible.init =
      plausible.init ||
      function (i) {
        plausible.o = i || {};
      }));
  plausible.init();
</script>
<!-- ads -->
<meta name="google-adsense-account" content="ca-pub-4499204128991349" />
<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4499204128991349"
  crossorigin="anonymous"
></script>
